.con-card {
  /* background-color: blue; */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
.contact-card-one{
  width: 48%;
  background-color: #f5f5f5;
  margin: 10px;
  display: flex;
  flex-direction: column;


}
.div{
  margin-top: 10%;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}
.div1{
  width: 80%;

}






.yu {
  text-transform: capitalize;
  font-family: sans-serif;
  font-stretch: extra-condensed;
  font-size: 20px;
}
p {
  padding: 9px;
  color: black;
  font-family: sans-serif;
  font-stretch: condensed;
  font-size: 18px;
}
.aaa {
  height: 10vh;
  width: 100%;
}

@media only screen and (max-width: 660px) {
  .con-card {
    flex-direction: column;
    width: 100%;
    background-color: rgba(136, 130, 130, 0);
  }
  .contact-card-one{
    width: 100%;
    height: 100vh;
  }
  
  .aaa{
    height: 100vh;
  }
  
}
@media only screen and (max-width: 660px) {
  .div{
    margin-top: 80%;
   
  }
}
@media only screen and (max-width: 625px) {
  .div{
    margin-top: 90%;
   
  }
}
@media only screen and (max-width: 550px) {
  .div{
    margin-top:100%;
   
  }
}
@media only screen and (max-width: 502px) {
  .div{
    margin-top: 110%;
   
  }
}
@media only screen and (max-width: 502px) {
  .div{
    margin-top: 120%;
   
  }
}
@media only screen and (max-width: 435px) {
  .div{
    margin-top: 130%;
   
  }}
  @media only screen and (max-width: 430px) {
    .div{
      margin-top: 70%;
     
    }}


  @media only screen and (max-width: 414px) {
    .div{
      margin-top: 80%;
     
    }
}
@media only screen and (max-width: 395px) {
  .div{
    margin-top: 105%;
   
  }
}
@media only screen and (max-width: 360px) {
  .div{
    margin-top: 130%;
   
  }
}