*{margin: 0%;padding: 0%;}
.av  {  padding: 1.8%;  }
.img{
    width: 16%;
    height: 16%;
}
@media only screen and (max-width: 1043px) {
    .img{
        width: 20%;
        height: 20%;
    }

}
@media only screen and (max-width:892px) {
    .img{
        width: 24%;
        height: 24%;
    }

}
@media only screen and (max-width:800px) {
    .img{
        width: 28%;
        height: 28%;
    }

}
@media only screen and (max-width:600px) {
    .img{
        width: 34%;
        height: 34%;
    }

}
@media only screen and (max-width:500px) {
    .img{
        width: 38%;
        height: 38%;
    }

}

@media only screen and (max-width:450px) {
    .img{
        width: 47%;
        height: 47%;
    }

}
@media only screen and (max-width:400px) {
    .img{
        width: 52%;
        height: 52%;
    }

}