.cont{
  margin: 0%;
  width: 90%;
}
.product-page {
  height: 100vh;
  width: 100%;
  /* margin-bottom: 80%; */
  display: flex;
  justify-content: space-around;
  background-color: #bfbfbf63;
  align-items: center;
}
.product-image {
  width: 40%;
  height: 90%;
  background-color: white;
}
.product-image img {
  width: 100%;
  height: 100%;
}
.product-name {
  width: 50%;
  height: 90%;
  background-color: white;
  overflow: scroll;
}
.product-name h1 {
  width: 80%;
  margin: 50px auto 20px auto;
  text-align: start;
  
  font-size: 23px;
  font-family: sans-serif;
  font-stretch: condensed;
}
.product-name p {
  font-family: sans-serif;
  font-stretch: ultra-condensed;
  width: 80%;
  /* text-align: start; */
  margin: 0 auto;
  font-size: 17.9px;
  line-height: 30px;
  letter-spacing: 1px;
}
.product-des {
  height: 230vh;
  width: 100%;
  background-color: #bfbfbf63;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pro-content {
  width: 57%;
  height: 100%;
  background-color: white;
  overflow: scroll;
}
.pro-content h2 { 
  width: 80%;
  margin: 50px auto 0 auto;
  font-family: sans-serif;
  font-stretch: condensed;
}
.pro-content p {
  width: 80%;
  font-size: 17.9px;
  line-height: 30px;
  letter-spacing: 1px;
  margin: 0 auto;
  font-family: sans-serif;
  font-stretch: ultra-condensed;
}
.pro-con-images {
  width: 40%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pro-con-images img {
  width: 100%;
  height: 24%;
}.product-detail{
  background-color: #bfbfbf63;
  width: 100%;
  overflow: scroll;
}
.product-detail-image { 
  width: 60%;
  margin: 5% auto; 
  height: auto;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}
.product-detail-image img {
  height: 80vh;
  width: 100%;
  margin: 20px 0;
}
.product-detail  h2{ 
  padding: 100px 0 0 10px;
text-align: start;
font-family: sans-serif;
font-stretch: condensed;
text-decoration: underline;
}
/* RESPONSIVE */
@media only screen and (max-width: 920px) {
  .product-des {
    height: 290vh;
    background-color: aquamarine;
  }
  .product-name p {
    font-family: sans-serif;
    font-stretch: ultra-condensed;
    width: 90%;
    text-align: start;
    margin: 0 auto;
    font-size: 17.9px;
    line-height: 30px;
    letter-spacing: 1px;
  }
}

@media only screen and (max-width: 815px) {
  .product-des {
    height: 290vh;
    /* background-color: aquamarine; */
  }
  .product-name p {
    font-family: sans-serif;
    font-stretch: ultra-condensed;
    width: 95%;
    text-align: start;
    margin: 0 auto;
    font-size: 15.9px;
    line-height: 27px;
    letter-spacing: 1px;
  }
}
@media only screen and (max-width: 700px) {
  .product-des {

    height: 290vh;
  }
  .product-page {
    height: 100vh;
  }
  .product-name {
    overflow: scroll;
    /* width: 90%; */
    /* margin: 30px auto 5px auto; */
  }
    .product-name p {
    font-family: sans-serif;
    font-stretch: ultra-condensed;
    width: 95%;
    text-align: start;
    margin: 0 auto;
    overflow: scroll;
    font-size: 15.9px;
    line-height: 24px;
    letter-spacing: 1px;
  }
  .product-detail-image img {
    height: 60vh;  
  }
}
/* @media only screen and (max-width: 500px) {
  .product-des {
    height: 355vh;
  }
  .product-page {
    height: 60vh;
  }
  .product-name h1 {
    width: 90%;
    margin: 10px auto 0 auto;
  }
  .product-name p {
    width: 90%;
    margin: 0 auto;
    font-size: 20px;
    line-height: 20px;
  }.product-detail-image img {
    height: 50vh;  
  }
} */
@media only screen and (max-width: 550px) {
  .product-des {
    display: block;
    height: auto;
  }
  .pro-con-images {
    margin-top: 20px;
    width: 100%;
     gap: 20px;
  }
  .pro-content{
    width: 100%;
  }
  .product-page {
    display: block;
    height: auto;
    margin-bottom: 30px;
  }
  .product-name {
    width: 100%;
  }
  .product-image {
    width: 100%;
  }.product-detail-image img {
    height: 40vh; 
    width: 100%;
  }
}
